.deck {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
}

.deck > .pokemon-card {
    max-width: 20%;
    border-radius: 10px;
}

.deck > .pokemon-card.active-card {
    order: 1;
}

.deck > .pokemon-card {
    width: 20%;
    border-radius: 10px;
}

/* .deck:nth-child(1) {
    transform: rotate(90deg);
}

.deck:nth-child(2) {
    transform: rotate(-90deg);
} */

.deck > .pokemon-card:hover img {
    transform: none;
}